<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Generic - Road Trip by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

<!-- Header -->
	<header id="header" class="alt">
		<div class="logo"><a href="index.html">Created De Content <span>by Ezequiel Delaloye</span></a></div>
		<a href="#menu"><span>Menu</span></a>
	</header>

<!-- Nav -->
	<nav id="menu">
		<ul class="links">
			<li><a href="home">Inicio</a></li>
			<li><a href="generic">Audi R8</a></li>
			<li><a href="generic1">BUGATTI VEYRON</a></li>			
			<li><a href="generic2">LAMBORGHINI VENENO</a></li>
			<li><a href="generic3">TESLA MODEL S PLAID</a></li>
			<li><a href="generic4">PORSCHE 911 TURBO S</a></li>	
			<li><a href="generic5">FORD GT HERITAGE EDITION 2021</a></li>
			<li><a href="generic6">CHEVROLET CORVETTE STINGRAY</a></li>
			<li><a href="generic7">FERRARI SF90 STRADALE HIBRIDO</a></li>				
			
		</ul>
	</nav>

		<!-- Content -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="post" class="wrapper bg-img" data-bg="banner9.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>FERRARI SF90 STRADALE HIBRIDO</h2>
							<p>780-1000 CV</p>
						</header>
						<div class="content">
							<p>El Ferrari SF90 Stradale es un superdeportivo híbrido enchufable de motor V8 central fabricado por Ferrari y que rinde 1.000 CV de potencia máxima. Se trata de un coche completamente nuevo que sienta las bases de la electrificación a la que promete someter Ferrari a todos sus modelos. De hecho el SF90 Stradale defiende una revolución en aspectos clave como el diseño exterior, el sistema de propulsión o el infoentretenimiento.</p>
							<p>El Ferrari SF90 Stradale y su planteamiento híbrido enchufable de muy altas prestaciones tiene como rivales directos al Mercedes-AMG ONE y al Aston Martin Valkyrie, coche de similares filosofías, pero con visiones muy diferentes sobre cómo crear el mejor superdeportivo híbrido para circuito.</p>
							<p>A nivel estético el Ferrari SF90 Stradale supone toda una ruptura con respecto a la gama convencional de Ferrari. Su lenguaje de diseño difiere bastante de lo visto en lanzamientos recientes como el del Ferrari F8 Tributo, buscando así ofrecer una nueva visión sobre los próximos lanzamientos de la marca. Tal es su diferenciación con la gama más convencional que en sus trazos se adivinan más similitudes con los mucho más exclusivos Special Projects.</p>
							<p>Como no podía ser de otra forma la aerodinámica juega un papel fundamental en los trazos del SF90, encontrando además un gran peso de la aerodinámica activa como demuestra el sistema patentado "shut-off Gurney" ubicado en la zona posterior. Este sistema se regula en función de diferentes parámetros de conducción a través de dos actuadores eléctricos. La carga aerodinámica máxima es de 390 Kg a 250 Km/h.</p>
							<p>El Ferrari SF90 Stradale es el primer híbrido enchufable de Ferrari, un concepto que va más allá del sistema HY-KERS usado por el Ferrari LaFerrari. Este sistema está compuesto por un total de 4 motores, 3 de ellos eléctricos con 220 CV de potencia máxima y un motor gasolina 4.0 V8 Twin-Turbo de 780 CV. El reparto de estos motores se realiza con dos motores eléctricos situados en el eje delantero y con el motor V8 asociado al tercer motor eléctrico para gobernar el eje trasero a través de un cambio de doble embrague con 8 relaciones.</p>
							<p>Para alimentar a los 3 motores eléctricos el SF90 Stradale emplea una batería de iones de litio con 7,9 kWh de capacidad, energía con la que se promete una autonomía en modo eléctrico de hasta 25 kilómetros y a velocidades de hasta 135 Km/h. Además, gracias a las prestaciones del nuevo eje delantero electrificado el SF90 prescinde de marcha atrás en la caja de cambios que gestiona la potencia del V8, por lo que para realizar la maniobra marcha atrás solo se podrá hacer con las ruedas delanteras y en modo 100% eléctrico. En materia de prestaciones el Ferrari SF90 Stradale firma el 0-100 Km/h en 2,5 segundos y el 0-200 Km/h en 6,7 segundos. La velocidad máxima excede los 340 Km/h.</p>						
						</div>
						<footer>

						</footer>
					</article>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h2>Contact Me</h2>

					<form action="#" method="post">

						<div class="field half first">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>

					<ul class="icons">
						<li><a href="https://twitter.com/?lang=es" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>
					<div class="copyright">
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
					</div>

				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>