<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Generic - Road Trip by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

<!-- Header -->
	<header id="header" class="alt">
		<div class="logo"><a href="index.html">Created De Content <span>by Ezequiel Delaloye</span></a></div>
		<a href="#menu"><span>Menu</span></a>
	</header>

<!-- Nav -->
	<nav id="menu">
		<ul class="links">
			<li><a href="home">Inicio</a></li>
			<li><a href="generic">Audi R8</a></li>
			<li><a href="generic1">BUGATTI VEYRON</a></li>			
			<li><a href="generic2">LAMBORGHINI VENENO</a></li>
			<li><a href="generic3">TESLA MODEL S PLAID</a></li>
			<li><a href="generic4">PORSCHE 911 TURBO S</a></li>	
			<li><a href="generic5">FORD GT HERITAGE EDITION 2021</a></li>
			<li><a href="generic6">CHEVROLET CORVETTE STINGRAY</a></li>
			<li><a href="generic7">FERRARI SF90 STRADALE HIBRIDO</a></li>				
			
		</ul>
	</nav>

		<!-- Content -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="post" class="wrapper bg-img" data-bg="banner7.png">
				<div class="inner">
					<article class="box">
						<header>
							<h2>FORD GT HERITAGE EDITION 2021</h2>
							<p>669 CV</p>
						</header>
						<div class="content">
							<p>Ford Performance presenta el Ford GT Heritage Edition 2021, inspirado en la carrera Continental 24 Horas de Daytona de 1966, que rinde homenaje al 55 aniversario de la épica carrera donde Ford logró su primera victoria de resistencia de un día </p>
							<p>La exclusiva colección Ford GT Studio ofrece aún más detalles con características de diseño únicas personalizables de edición limitada, sólo 40 Ford GT en los modelos 2021 y 2022.</p>
							<p>El Ford GT es el único superdeportivo americano que ha ganado en Le Mans, y llevando lo mejor de Ford Performance aún más lejos para el 2021, Ford revela hoy dos nuevas adiciones a la línea y diseño de este mítico corredor: la primera, es la edición Heritage inspirada en la primera victoria de resistencia del modelo original en la carrera continental de 24 horas de Daytona de 1966; asimismo, la segunda develación es el nuevo paquete Studio Collection, que ofrece aún más exclusividad, así como mejoras en el diseño.  </p>
							<p>La última edición de Heritage para unirse a la familia Ford GT es un tributo al ganador Continental 24 horas de Daytona de 1966, donde Ford logró su primera victoria de resistencia de 24 horas, que se plasma en la película de 2019 "Ford vs Ferrari" - o "Le Mans '66", como se conoce en Europa.   Los copilotos Ken Miles y Lloyd Ruby lideraron un dominio de Ford de 1-2-3-5 en Daytona, iniciando una temporada increíble para el Ford GT40 MK II, con victorias adicionales de 1-2-3 en Sebring y Le Mans. Esta edición Heritage es la primera en presentar un diseño famoso por una carrera que no sea Le Mans. </p>
							<p>Inspirado en el icónico exterior blanco, negro y rojo del Ford GT40 MK II de 1966, ganador del premio de resistencia, el nuevo Ford GT Heritage Edición 2021 presenta una pintura exterior de color blanco con un cofre de fibra de carbono expuesto que añade un fuerte contraste. Los acentos asimétricos en rojo en la salpicadera delantera y el borde del techo, la puerta del lado del conductor y debajo del alerón trasero añaden una imagen distintiva, mientras que la fibra de carbono expuesta da forma a los gráficos redondeados de la firma 98 y habla de la carrocería ligera del súperdeportivo. Los gráficos únicos de Ford en los paneles inferiores del cuarto trasero, más las ruedas de una pieza de aluminio forjado Heritage Gold de 20 pulgadas, junto con los calipers mono bloque Brembo pintadas en rojo, completan esta nueva imagen exterior. Por dentro, el interior ligero y centrado en el conductor cuenta con detalles únicos como Alcantara® negro en el panel de instrumentos, revestimiento del techo y el contorno del volante, mientras que las paletas de cambio al volante en color rojo, así como los asientos deportivos con el revestimiento Alcantara® rojo añaden un contraste dramático. </p>
							<p>Ford Performance también nos dejó conocer una nueva serie exclusiva en la línea de este superdeportivo: Ford GT Studio Collection. Este paquete de gráficos totalmente nuevo con colores personalizables resalta los elementos clave del estilo, incluyendo los conductos de refrigeración que ayudan al Ford GT 2021 a entregar los 660 caballos de fuerza durante las sesiones más exigentes y de alta temperatura en la pista.  Su exclusivo paquete de gráficos exteriores nació de una colaboración de diseño entre Ford Performance y el fabricante de Ford GT, Multimatic. Refleja la aportación de Garen Nicoghosian, jefe de diseño de Multimatic, que ha trabajado en el programa del Ford GT desde su nacimiento.  "La combinación de las franjas y los acentos invoca la emoción de la velocidad y atrae la atención sobre algunas de las características más destacadas del GT", dijo Nicoghosian. "El cofre y los rasgos característicos de los faros proporcionan anclajes visuales para los gráficos, guiando tu ojo a lo largo del vehículo". </p>						
							<p>Ford de México inició operaciones en 1925 como la primera empresa de automóviles en el país, al día de hoy cuenta con 10,197 empleados. Sus plantas de Estampado y Ensamble en Hermosillo y Cuautitlán, producen orgullosamente Ford Bronco Sport y Mustang Mach-E, respectivamente, así como de motores I, II y III ubicadas en Chihuahua produciendo los motores Duratec I-4 (2.0 y 2.5 litros), los motores Power Stroke Diésel de 6.7 litros V8, un motor diésel de 4.4 litros y el motor Dragón de 3 cilindros de 1.5 litros. También fabrica transmisiones en su planta de Irapuato, además de contar con oficinas centrales establecidas en la Ciudad de México.</p>
						</div>
						
						<footer>

						</footer>
					</article>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h2>Contact Me</h2>

					<form action="#" method="post">

						<div class="field half first">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>

					<ul class="icons">
						<li><a href="https://twitter.com/?lang=es" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>
					<div class="copyright">
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
					</div>

				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>