<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Generic - Road Trip by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

<!-- Header -->
	<header id="header" class="alt">
		<div class="logo"><a href="index.html">Created De Content <span>by Ezequiel Delaloye</span></a></div>
		<a href="#menu"><span>Menu</span></a>
	</header>

<!-- Nav -->
	<nav id="menu">
		<ul class="links">
			<li><a href="home">Inicio</a></li>
			<li><a href="generic">Audi R8</a></li>
			<li><a href="generic1">BUGATTI VEYRON</a></li>			
			<li><a href="generic2">LAMBORGHINI VENENO</a></li>
			<li><a href="generic3">TESLA MODEL S PLAID</a></li>
			<li><a href="generic4">PORSCHE 911 TURBO S</a></li>	
			<li><a href="generic5">FORD GT HERITAGE EDITION 2021</a></li>
			<li><a href="generic6">CHEVROLET CORVETTE STINGRAY</a></li>
			<li><a href="generic7">FERRARI SF90 STRADALE HIBRIDO</a></li>				
			
		</ul>
	</nav>

		<!-- Content -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="post" class="wrapper bg-img" data-bg="banner8.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>CHEVROLET CORVETTE STINGRAY Z51</h2>
							<p>461 CV</p>
						</header>
						<div class="content">
							<p>El Chevrolet Corvette Stingray Z51 es capaz de pasar de cero a 60 mph -97 Km/h- en tan sólo 3,8 segundos y supera la marca del cuarto de milla en 12 segundos. Pero no solo es rápido en línea recta, en curva es capaz de generar 1,03 g y puede detenerse desde 97 Km/h en 32,6 metros. El propulsor mantiene inalterados sus 461 CV y 624 Nm de par motor. El paquete Z51 incluye una serie de modificaciones que mejoran el rendimiento aerodinámico y la estabilidad a altas velocidades. También dispone de un diferencial autoblocante electrónico y de mejoras en los sistemas de refrigeración. En EE.UU. tendrá un sobre coste de 2.500 dólares.</p>
							<p>Con la configuración con la que se venderá en Europa, el Corvette Stingray Z51 es capaz de dar una vuelta al circuito de Virginia International Raceway en 2:51.78. “El nuevo Stingray Z51 transmite información permanentemente al conductor, lo que hace que te sientas muy confiado al volante”, aseguró Jim Mero, uno de los ingenieros que han participado durante su desarrollo.</p>
							<p>“Esa confianza”, añadió, “te animará a atacar las curvas: el agarre de los neumáticos es increíble, la respuesta de la dirección es excelente, los amortiguadores Magnetic Ride controlan muy bien el balanceo y al mismo tiempo, absorben todos los baches. Es adictivo en circuito.”</p>
							<p>Equipado con un V8 atmosférico de hasta 495 caballos, se ha presentado en su versión Stingray, y anuncia una aceleración de 0 a 100 kilómetros/hora en 3 segundos. Las entregas ya han empezado en Estados Unidos, pero la llegada a Europa se retrasará hasta la segunda mitad de 2021. El Chevrolet Corvette se presentó en 1953 como un modelo deportivo descapotable con motor de seis cilindros en línea y disposición delantera longitudinal, pero muy pronto –en 1955– recurrió al bloque V8 que le ha acompañado hasta nuestros días. Tras cientos de rumores, fotos espía, acciones de marketing y una larga espera, por fin se ha presentado la nueva generación del Corvette Stingray, de motor central, que equipa un nuevo propulsor V8 LT2 de 495 caballos de potencia.</p>
							<p>Cabe señalar que no es la primera vez que el Corvette recurre a una configuración mecánica con el motor por detrás del habitáculo, como explicamos en este artículo que repasa sus precedentes, pero sí es la primera vez que el modelo americano se comercializa con esta arquitectura.</p>
							<p>Al margen de sus aspectos mecánicos, aunque claramente condicionado por ellos, el diseño del nuevo Corvette Stingray presenta unas líneas que recuerdan vagamente a su predecesor, pero modifica sus proporciones para dar cabida al bloque V8 en la parte trasera, mientras que el capó delantero es más corto e inclinado de lo habitual en el modelo americano. Mantienen las líneas de tensión en las puertas, el capó, el techo y los hombros, así como la singular forma de sus pilotos traseros. Un dato curioso: los espejos retrovisores no son iguales. El del pasajero sobresale un poco más que el del conductor, y como para muestra un botón. La página CorvetteBlogger midió la distancia de cada espejo para cerciorarse. Si nos fijamos en la imagen que hay a continuación, podremos apreciarlo.</p>						
						</div>
						<footer>

						</footer>
					</article>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h2>Contact Me</h2>

					<form action="#" method="post">

						<div class="field half first">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>

					<ul class="icons">
						<li><a href="https://twitter.com/?lang=es" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>
					<div class="copyright">
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
					</div>

				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>