<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Generic - Road Trip by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

<!-- Header -->
	<header id="header" class="alt">
		<div class="logo"><a href="index.html">Created De Content <span>by Ezequiel Delaloye</span></a></div>
		<a href="#menu"><span>Menu</span></a>
	</header>

<!-- Nav -->
	<nav id="menu">
		<ul class="links">
			<li><a href="home">Inicio</a></li>
			<li><a href="generic">Audi R8</a></li>
			<li><a href="generic1">BUGATTI VEYRON</a></li>			
			<li><a href="generic2">LAMBORGHINI VENENO</a></li>
			<li><a href="generic3">TESLA MODEL S PLAID</a></li>
			<li><a href="generic4">PORSCHE 911 TURBO S</a></li>	
			<li><a href="generic5">FORD GT HERITAGE EDITION 2021</a></li>
			<li><a href="generic6">CHEVROLET CORVETTE STINGRAY</a></li>
			<li><a href="generic7">FERRARI SF90 STRADALE HIBRIDO</a></li>				
			
		</ul>
	</nav>

		<!-- Content -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="post" class="wrapper bg-img" data-bg="banner2.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Audi R8</h2>
							<p>540-620 CV</p>
						</header>
						<div class="content">
							<p>El Audi R8 es un superdeportivo de motor central-trasero fabricado por Audi. Su segunda generación fue lanzada al mercado en verano de 2015 y actualizada a finales de 2018. Es el único coche de su segmento que conserva un motor V10 atmosférico (con 570 CV o 620 CV) junto al Lamborghini Huracán con el que comparte el grueso de sus elementos, además del motor V10. El precio del Audi R8 parte desde 200.000 euros.</p>

							<p>El diseño del Audi R8 de segunda generación fue revisado a finales de 2018 modificando la estética de sus paragolpes y la parrilla frontal añadiendo un toque extra de agresividad tal y como lucen otros modelos de la marca actualizados en esa misma época como el Audi A1. Sin embargo, el R8 sigue manteniendo la filosofía de ofrecer una estética deportiva, pero al mismo tiempo elegante.</p>

							<p>El Audi R8 siempre se ha caracterizado por ofrecer un diseño musculoso, pero libre de líneas y contornos que exageren sus proporciones. Su condición de motor central trasero obligan a integrar un morro corto acompañado de un habitáculo adelantado, típico en estas configuraciones de propulsor, creando una zaga donde el propulsor es absoluto protagonista con un vano motor muy protagonista que incluso es expuesto a través de un portón acristalado que puede incluir iluminación LED independiente.</p>

							<p>El Audi R8 se comercializa con un único propulsor, un V10 atmosférico de 5,2 litros, con lubricación por cárter seco e inyección directa. Se ofrece en dos versiones de potencia, 570 CV y 620 CV. Esta última versión corresponde al Audi R8 V10 Performance quattro, el modelo más potente de la gama R8. En el primer caso, acelera hasta los 100 km/h en 3,4 segundos, mientras que la versión performance lo hace en 3,1 segundos, con una velocidad máxima de 331 km/h. En ambos casos, el motor sólo se puede asociar a una caja de cambios S tronic de doble embrague y siete relaciones.</p>

							<p>Existe una versión descapotable del Audi R8, denominada Audi R8 Spyder. Reemplaza el techo por una capota de lona, de accionamiento eléctrico. El diseño exterior del coche varía en la parte trasera, con una nueva cubierta que ya no deja ver el motor. Se encuentra disponible con el 5.2 V10 FSI de 570 CV, con opción a una versión Performance de 620 CV.</p>
							<p>Aunque es 208 kilos más pesado que el coupé, hace el 0 a 100 km/h en sólo 3,2 segundos en su versión más potente y supera los 320 km/h con holgura. Audi ha trabajado en aumentar la rigidez torsional de este descapotable, que es un 50% más rígido que su predecesor, notablemente menos firme que el coupé.</p>
							<p>Antes de la actualización de 2018 Audi Sport lanzó una edición limitada a 999 unidades del R8 denominada Audi R8 RWS cuya principal característica era la eliminación de la tracción total en favor de una configuración de propulsión. Combinado con el motor V10 en versión de 540 CV, el R8 Rear Wheel Series se convirtió en el primer Audi Sport en no instalar tracción total, ofreciendo un carácter más deportivo y divertido (ver prueba Audi R8 RWS). Esta edición limitada estuvo a la venta durante menos de un año (2018), en versiones coupé y spyder y ofreciendo unos precios inferiores a las versiones con tracción total, por lo que se convirtió en una serie limitada no sólo más interesante, sino también más económica.</p>
						</div>
						<footer>
						</footer>
					</article>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h2>Contact Me</h2>

					<form action="#" method="post">

						<div class="field half first">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>

					<ul class="icons">
						<li><a href="https://twitter.com/?lang=es" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>
					<div class="copyright">
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
					</div>

				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>